<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies data management</title>
</head>
    <link rel="stylesheet" href="/static/style.css">
<body>
    <div>
    <a href="/"> <img src="../static/home_page.jpg" width="50" height="50"> </a>
    </div>
    <form action="/add" method="post" enctype="multipart/form-data">
      <dl>
        <labe>Poster upload</labe>
        <p>
          <input type="file" name="filename" required>
        </p>
      </dl>
        <label>Movie title</label></br>
        <input type="text" name="movie_title" required></br>
        <label>Description</label></br>
        <textarea type="text" name="description" required></textarea></br>
        <label>Director</label></br>
        <input type="text" name="director" required></br>
        <label>Release year</label></br>
        <input type="number" name="release_year" required></br>
         <label>Actors</label></br>
        <input type="text" name="actors" required></br>
        <button type="submit">ADD</button></br>
    </form>
</body>
</html>