<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body align="center">
    <div style="display:flex;align-items:flex-start;">
        {% if IsCurrentUserAdmin %}
        <a href="/add_data"> <img src="../static/add_New.png" width="60" height="50"></a>
        {% endif %}
    </div>
        <a style="display: flex;align-items: center;flex-direction:column;margin-block-start: 4rem;margin-block-end: 2rem">
        <form method="post" action="{{url_for('search')}}" style="display: flex;">
        <input type="text" autofocus="autofocus" name="search_string" >
        <input type="image" src="../static/search-icon.jpg" width="30" height="30" formaction="/search">
        </form></a>

    {% for movie in movies_data%}
        {% if IsCurrentUserAdmin %}
            <a href="{{url_for('movie_info_admin', movie_id=movie.id)}}"> <img  width="350" height="300" style="border-radius: 5%; text-align: center;margin: 10px 10px 10px 10px" src="{{ url_for('display_image', filename=movie.filename)}}"></a>
        {%endif%}

        {% if not(IsCurrentUserAdmin) %}
            <a href="{{url_for('movie_info', movie_id=movie.id)}}"> <img  width="350" height="300" style="border-radius: 5%; text-align: center;margin: 10px 10px 10px 10px" src="{{ url_for('display_image', filename=movie.filename)}}"></a>
        {%endif%}
    
    {%endfor%}
</body>
</html>
