<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
</head>

<body>
    <div>
    <a href="/Home_page"></a>
    </div>
    <p style="display: flex;align-items: center;flex-direction:column;margin-block-start: 4rem;margin-block-end: 2rem">
     <center>
    <form action="/Sign_in" method="post" enctype="multipart/form-data">

      <label>Email :</label></br>
    <input type="text" name="Email" required></br>
         <label>Password :</label></br>
    <input  type="password" name="password" required></br>
     <label>Name :</label></br>
    <input type="text" name="Name" required></br>
     <label> phone_number:</label></br>
        <input  type="text" name="phone_number" required></br>
      <button type="submit">ADD</button></br>
    </form>

    {% if IncorrectEmailFormat %}
        <h2 style="color:red">Incorrect Email Format !</h2>
     {% endif %}

     {% if email_found %}
        <h2 style="color:red">Email already exists !</h2>
     {% endif %}
     </center>
</p>
</body>
</html>